@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

.org-2-test .prod-container {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1149px;
}

.org-2-test .prod-container h2 {
    font-family: 'Aleo';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.org-2-test .prod-container .productDetailswrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 12px;
    background: #F6F2EF;
    border: 1px solid #4A7582;
}

.org-2-test .prod-container .productDetailswrapper .prod-content {
    flex: 1;
    display: flex;
}

.org-2-test .prod-container .productDetailswrapper .prod-content ul {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.org-2-test .prod-container .productDetailswrapper .prod-content .item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 8px 0;
    color: #000000;
    font-family: 'Aleo', Sans-Serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32.5px;
    letter-spacing: 0.6000000238418579px;
    text-align: left;
}

.prod-content li::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 13px;
    background-image: url("https://cdn-3.convertexperiments.com/uf/10047433/100413532/greencheck.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

.org-2-test .prod-container .productDetailswrapper .prod-Image {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
}

.org-2-test .prod-container .productDetailswrapper .prod-Image>img {
    width: 100%;
    height: 100%;
    border-radius: 0 12px 12px 0;
}

.org-2-test .prod-container .productDetailswrapper .prod-Image>img:nth-child(1) {
    display: flex;
}

.org-2-test .prod-container .productDetailswrapper .prod-Image>img:nth-child(2) {
    display: none;
}

@media (max-width: 767px) {
    .org-2-test .prod-container .productDetailswrapper {
        flex-direction: column-reverse;
    }

    .org-2-test .prod-container .productDetailswrapper .prod-content {
        justify-content: flex-start;
    }

    .org-2-test .prod-container .productDetailswrapper .prod-Image>img {
        border-radius: 12px;
    }

    .org-2-test .prod-container .productDetailswrapper .prod-Image>img:nth-child(1) {
        display: none;
    }

    .org-2-test .prod-container .productDetailswrapper .prod-Image>img:nth-child(2) {
        display: flex;
    }
}